.App {
    text-align: center;
    border: 5px solid limegreen;
  }

.center {
    text-align: center;
  }

.fontSizeLarger {
  font-size: larger;
}

.fontSizeSmaller {
  font-size: smaller;
}

.alignRight {
  text-align: right;
}

.alignLeft {
  text-align: left;
}

  #header {
    position: relative;
    min-height: 150px;
  }
  
  #header-content {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  #header, #header * {
    background: rgba(40, 40, 100, 0.25);
  }

 .header {
    position: relative;
    min-height: 150px;
  }
  
.header-content {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
 .header, #header * {
    background: rgba(40, 40, 100, 0.25);
  }

  .granicay {
    border: 5px solid rgb(255, 242, 0);
  }

  .granicab {
    border: 5px solid rgb(38, 83, 245);
  }

  .granicaz {
    border: 5px solid rgb(8, 226, 8);
  }

  .rel {
    position: relative;
    max-width: 60%;
  }

  .abs {
    position: absolute;
  }

.footer {
  position:fixed;
  bottom:0;
  width:100%;
  height: 35px;
  }

.offerCard { 
  min-width: 230;
  max-width: 230; 
  background-color: #D9EDBF; 
}

.addOdderButton {
  width: 100%;
}

.error {
  color: #db4437;
  font-size: 14px;
  font-weight: 400;
  margin-left: 12px;
  margin-top: 4px;
}

.offerTitle {
  min-width: 70%;
  min-height: 45px;
}

.offerSalary {
  min-width: 30%;
}

.offerItem {
  cursor: pointer;
  transition: background-color 0.3s;
}

.offerItem:hover {
  background-color: #f5f5f5;
}

.offerSeparator {
  margin: 1px 0;
  border: 1px solid #ddd;
}

.mainLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbarOwn {
  position: fixed;
  top: 0;
  z-index: 1000;
  min-height: 90px;
  max-height: 100px;
}

.contentContainerOwn {
  flex: 1;
  padding-top: 120px;
  overflow-y: auto;
  padding-bottom: 20px;
}

.footerOwn {
  color: white;
}

.paddingLeftRight {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-light .nav-link:hover {
  background-color: burlywood;
}

.offerMarginTop {
  margin-top: 10px;
}